<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Bowling Game", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content" ng-app="bowlingApp">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bowling Game</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.bxslider.js"></script>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-route.min.js"></script>
    <script src="~/Scripts/Angular/angular-sanitize.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/BowlGameService.js"></script>
    <script src="~/app/bowlGameCtrl.js"></script>
    <script src="~/app/mainCtrl.js"></script>
    <script src="~/app/BowlGameInterfaces.js"></script>
    <script src="~/app/BowlGameModel.js"></script>
    <script src="~/app/BowlGameScoreService.js"></script>
    <script src="~/app/FinalScoreController.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>